/* HEADER*/
.navbar-default {
	background-color: white;
	border-color: white;
}


.bg-1 {
	background-color: #FF69B4;
	color: #FF69B4;
}

.bg-2 {
	background-color: #FF1493;
	color: #FF1493;
}

.bg-3 {
	background-color: #C71585;
	color: #C71585;
}


img#logo {
	    height: 60px;
    	width: 70px;
}

/*FOOTER*/

footer.footer-section {
	background-color: white;
  	margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #FF1493;
}