/* HEADER*/
.navbar-default {
	background-color: white;
	border-color: white;
}

.social-media-icons{
	height: 30px;
    	width: 40px;
    	align-content: right;
    	margin-top: 40px;
}

.background-image {
	width: 1800px;
	height: 851.41px;
	max-height: none;
	max-width: none;
}

.text-block{
	font-family: 'Oswald', sans-serif;	
	padding-left: 50px;
	padding-right: 50px;
	white-space: nowrap;
	overflow: hidden;
}


.menu-button {
	display: block;
    width: 155px;
    background: #5A5353;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
	font-weight: bold;
	font-size: 20px;
}

.centered {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
}


img#logo {
	    height: 180px;
    	width: 190px;
    	margin-top: -10px;
}


/*FOOTER*/

footer.footer-section {
	background-color: grey;
  	margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #FF1493;
    margin-top: 200px;
    margin-left: 120px;
}

/*ADDNEW PAGE*/

.single-service{
	border: 1px solid #ebebeb;
	text-align: center;
	background: #fff;
}

.service-bg{
	height: 200px;
	position: relative;
}

.service-bg-1{
	background: url("images/salmon-poke.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.service-bg-2{
	background: url("images/Eton-Mess.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.service-bg-3{
	background: url("images/ravioli.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.service-bg-4{
	background: url("images/Summer-Cobb-Salad.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.service-bg-5{
	background: url("images/Macroons.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.service-bg-6{
	background: url("images/ravioli.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.service-bg h2{
	colour: white;
	background: pink;
	border: 1px solid pink;
	font-size: 17px;
	text-align: center;
	font-weight: 700;
	padding: 15px;
	position: absolute;
	left: 8%;
	width: 84%;
	margin: 0;
	bottom: -25px;
	border-radius: 50px;
	letter-spacing: 2px;
}

.single-service:hover .service-bg h2{
	background: #fff;
	transition: .9s;
	color: grey;
}

.service-text{
	padding: 50px 30px 20px;
	font-size: 15px;
	font-weight: 400;
}

.service-text p:last-child{
	margin: 0;
	line-height: 1.8;
}

.btn-area{
	display: inline-block;
	color: #333;
	font-size: 17px;
	font-weight: 700;
	margin-top: 30px;
	text-transform: capitalize;
}












