/* HEADER*/
.navbar-default {
	background-color: pink;
	border-color: pink;
}

#logo{
	    height: 100%;
    margin-top: 10px;
    margin-left: 5px;
}

/*FOOTER*/

.my-footer{
	background-color: #013b80;
    color: white;
    height: 300px;
    background-image: linear-gradient(#013b80,black);
}