/*INDEX PAGE*/

html, body{
	position: relative;
	/*min-height: 100%;*/
	height: 100%;
	margin: 0;
}

img.bg {
	min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


/*ALL RECIPES*/

html {
	position: relative;
	/*min-height: 100%;*/
	height: 100%;
	margin: 0;
}


body {
	margin-top: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 100px;
    background: #f7f7f7;
    color: #484432;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    position:relative;
    padding-bottom: 6rem;
    min-height: 100%; 
}


.background-image {
	width: 100%;
	height: 100%;
	background-image: url('http://i65.tinypic.com/wths2u.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

.catagories{
	margin-bottom: 25px;
	
}
/*===Navbar ===*/

.logo {
	height: 90px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: -20px;
}


.navbar {
	background: white;
}

.navbar-fixed-top .navbar-brand {
	colour: pink;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px
	}

.navbar-fixed-top {
    top: 0;
    border-width: 20px 0 5px;
}

a {
	color: #ff6699;
	text-decoration: none;

}
a:hover, .navar .navbar-brand:hover {
	colour: grey;
}

.navbar-right {
	margin-right:0;
}

.btn-default {
	margin-top: 10px;
	background-color: #ff6699;
	border: none;
	color: #ffffff;
	font-weight: bold;
}

img#logo {
	    height: 95px;
    	width: 95px;
}

.transparent {
  opacity:0.3;
}

.other-pages-logo {
	margin-top: -45px;
}

.box-image {
	display: middle;
	width: 100%;
}

/*===Recipe box ===*/

.recipe-box {
	background: #fff;
	border-radius: 5px;
	margin-bottom: 40px;
	-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}


.box-image img {
	display: block;
	vertical-align: middle;
	width: 20%;
	size: 220x230;
}
.recipe-box .box-image {
	border-radius: 5px 5px 0 0;
    max-width: 100%;
    overflow:hidden;
}

.box-image a {
	opacity: 1;
}

.box-image a:hover {
	opacity: 0.7;
}

.box-image img {
    width: 100%;
    border:none;
    align-items:center;
} 


.recipe-box .box-content {
	padding: 20px;
}

.recipe-box a:hover {
	text-decoration: none;
}

.box-content h2, .box-content .box-meta {
	text-align: center;
}

.box-content h2 {
	font-size: 25px;
	margin: 10px 0 20px;
	font-weight: bold;
	line-height: 1.5;
}

.box-meta {
	font-size: 16px;
}

.box-meta a {
	font-weight: bold;
}


.box-meta i.glyphicon {
	padding-left: 10px
}

.box-meta, .box-meta a {
	color: #737373;
}


/*===ADD NEW page====*/

.post h1, .post h2 {
	color: grey;
	font-weight: bold;
	text-align: left;
}

.post .box-meta {
	text-align: left;
}


#ingredient, #direction {
	margin-top: 20px;
}

.table tr > td.right {
	text-align: right;
	font-weight: bold;
}

.table tr:first-child > td {
	border:none;
}

.table tr:last-child  > td{
	border-bottom: 1px solid #ddd;	
}

ol.step {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 3em;
}

ol.step > li {
	popsition: relative;
	counter-increment: step-counter;
	margin-bottom: 20px;
	padding-left: 0.5em;
}

ol.step > li::before {
	position: absolute;
	top: 0;
	left: -1em;
	width: 0.8em;
	content: counter(step-counter);
	margin-right: 20px;
	color: #999;
	font-size: bold;
	text-align: right;
	line-height: 1;

}

.media-heading {
	font-weight: bold;
	font-size: 20px;
}

.media-heading a {
	color: #484432;
}

.media-object {
	border-radius: 50%;
	margin-right: 10px;
}

.chef-meta {
	font-size: 15px;
	margin: 5px 0;
	color: #999;
}


/*PAGINATION*/

.pagination > li > a {
	color: #ff6699;
}



/*FOOTER*/



.fixed-footer {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}


.fixed-footer p {
	text-align: center;
	color: #ff6699;
}

.sticky-footer {
	height: 50px;
    margin-top: -30px; 
}


.sticky-footer p {
	text-align: center;
	color: #ff6699;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.sticky-footer{
    margin-right: 0;
}
}


@media (min-width: 481px) and (max-width: 767px) {
	.sticky-footer {
    margin-right: 0;
}
}


@media (min-width: 320px) and (max-width: 480px) {
	.sticky-footer {
    margin-right: 0;
}
}



/* ADD NEW RECIPE PAGE*/



*,*:before,*:after {
  box-sizing: border-box;
}



* {
	margin:0;
	padding:0;
}

.starrating{
height: 46px;
    padding: 0 14px;
    margin-right: 39%;

}

.starrating:not(:checked) > input {
	position:absolute;
	top: -9999px;

}

.starrating:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space:nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;

}

.starrating:not(:checked) > label:before {
	content: '★ ';

}

.starrating > input:checked ~ label {
	color: #ffc700;

}

.starrating:not(:checked) > label:hover, 
.starrating:not(:checked) > label:hover ~ label {
	color: #deb217;
}

.starrating > input:checked + label:hover, 
.starrating > input:checked + label:hover ~ label,
.starrating > input:checked ~ label:hover,
.starrating > input:checked ~ label:hover ~ label,
.starrating > label:hover ~ input:checked ~ label{
	color: #c59b08;
}

.short-input {
	width: 100px;
}





/* homepage */

.btn-wrapper {

	position: absolute;
    top: 50%;
    left: 35%;
    text-align: center;
}

/* TOP CHEF PAGE */


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, .th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* RECIPE PAGE */

img.img-size {
	height: 350px;
    width: 300px;
    border: #ff6699 solid;
    border-width: thick;
}


.author-name {
	font-weight: bold;
    font-style: italic;
    font-family: cursive;
    color:#f82191;
}

.stars-container {
	position: relative;
	display: inline-block;
	color:transparent;
}

.stars-container:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '★★★★★';
	color: lightgray;
	
}

.stars-container:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '★★★★★';
	color: gold;
	overflow: hidden;
	
}

.stars-1:after {
	width: 20%;
}

.stars-2:after {
	width: 40%;
}
.stars-3:after {
	width: 60%;
}
.stars-4:after {
	width: 80%;
}
.stars-5:after {
	width: 100%;
}