<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>RECIPES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <header>
 <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-logo" href="#">
                <div class="logo">
                   <img src="images/logo-transparent2.png" id="logo">
                </div>
              </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                         <a href="# social-media-icons">
                    <img src="images/instagram-pink.png" class="social-media-icons">
                </a>
                    </li>
                    <li>
                        <a href="#">
                    <img src="images/twitter-pink.svg" class="social-media-icons">
                </a>
                    </li>
            <li class="dropdown">
              <a href="#">
                    <img src="images/facebook-pink.png" class="social-media-icons">
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!--  end navbar -->
</header>
   
   <div class="container-fluid body-container">
    <div class="col-lg-12">NEW RECIPE</div>

       <div class="col-lg-6">
        <form id="recipeForm" method="POST" name="recipe">
             <label>RECIPE TITLE>:</label>
             <br>
             <input id="recipetitle" placeholder="Recipe Title" type="text" name="title">
             <br>
    </div>

       <div class="col-lg-6">
            <!-- <form id="" method="post" name="author"> -->
             <label>Author Name>:</label>
             <br>
             <input id="authorname" placeholder ="Author Name" type="text" name="author">
             <br>
   </div>

    <div class="col-lg-6">
        <!-- <form id="descriptionForm" method="post" name="description"> -->
             <label>DESCRIPTION>:</label>
                <br>
             <input id="description" placeholder="Description" type="text" name="description">
             <br>
    </div>

       <div class="col-lg-6">
        Image:<br>
        <input type="file" id="myFile"><br>
   </div>

<div class="col-lg-6">
             <label>INGREDIENTS>:</label>
                <br>
             <input id="ingredients" placeholder="ingredients" type="text" name="ingredients">
             <br>
             <input id="ingredientone" placeholder="ingredientone" type="text" name="ingredientone">
             <br>
             <input id="ingredienttwo" placeholder="ingredienttwo" type="text" name="ingredienttwo">
             <br>
             <input id="ingredientthree" placeholder="ingredientthree" type="text" name="ingredientthree">
             <br>
             <input id="ingredientfour" placeholder="ingredientfour" tpe="text" name="ingredientfour">
    </div>


   <!--  <form id="ingredientone" method="post" name="ingredientone">
             <label>ingredient One>:</label>
                <br>
             <input id="ingredientone" placeholder="ingredientone" type="text" name="ingredientone">
             <br>
    <form id="ingredienttwo" method="post" name="ingredienttwo">
            <label>Ingredient Two>:</label>
             <input id="ingredienttwo" placeholder="ingredienttwo" type="text" name="ingredienttwo">
             <br>
    <form id="ingredientthree" method="post" name="ingredientthree">
            <label>Ingredient Three>:</label>
             <input id="ingredientthree" placeholder="ingredientthree" type="text" name="ingredientthree">
             <br>
     <form id="ingredientfour" method="post" name="ingredientfour">
            <label>Ingredient Four>:</label>        
             <input id="ingredientfour" placeholder="ingredientfour" type="text" name="ingredientfour">
             <br>
      <form id="ingredientfive" method="post" name="ingredientfive">
            <label>Ingredient Five>:</label>       
             <input id="ingredientfive" placeholder="ingredientfive" tpe="text" name="ingredientfive">
    </div>
 -->




       <div class="col-lg-6">
             METHOD:<br>
             <input type="text" name="method">
             <br>
             <input type="text" name="method">
             <br>
             <input type="text" name="method">
             <br>

             <div class="form-group">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
        </form>
   </div>


    <footer class="fixed-bottom text-center footer-section">
        <div class="footer-wrapper">
            <div class="fit">
                <p> Email: tenilleswart@gmail.com
                </p>
            </div>
            <div class="fit">
                <p> Contact: 07947253223
                </p>
            </div>
            <div class="fit">
                <p class="copy-right-text"> &copy; CopyRight
                </p>
            </div>
        </div>
        </div>
        </div>
        </div>

    </footer>



</body>

</html>