<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>RECIPES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <header>
 <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-logo navbar_left" href="#">
            <div>
            <img src="/static/images/logo-transparent2.png" class="other-pages-logo" id="logo">
          </div>
              </a>
        </div>
          <div class="nav navbar-nav navbar-right navbar_right">
                 <a href="{{ url_for('index') }}" class="btn btn-default">Home</a>
                 <a href="{{ url_for('allrecipes') }}" class="btn btn-default">All Recipes</a>
                 <a href="{{ url_for('addnew') }}" class="btn btn-default">Add New</a>
                 <a href="{{ url_for('topchef') }}" class="btn btn-default">Top Chef</a>
             </div> 
         </div> 
    </nav>
</header>

<!--Main Content -->
<div class="container-fluid"></div>
    <div class="img-responsive col-md-12">
         <img src="/static/images/background.png" class="bg transparent">
    </div> 

<div class="container">
  <div class="row">
   <form id="recipeForm" method="POST" name="recipe" enctype="multipart/form-data">


    <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label for="recipetitle" >Recipe Title</label>
         <input class="form-control" id="recipetitle" placeholder="Recipe Title" type="text" name="recipetitle" required>
             <div class="invalid-feedback">
               please provide recipe title
            </div>
      </div>
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label for="recipetitle">Author Name</label>
         <input class="form-control" id="authorfirstname" placeholder="First Name" type="text" name="authorfirstname" required>
             <div class="invalid-feedback">
               Please provide an Author name
            </div>
            <input class="form-control" id="authorlastname" placeholder="Last Name" type="text" name="authorlastname">
      </div>
      <div class="clearfix"></div>

      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label for="cuisine">Cuisine</label>
         <input class="form-control" id="cuisine" placeholder="Cuisine" type="text" name="cuisine" required>
             <div class="invalid-feedback">
               please provide a cuisine
            </div>
      </div>
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
      <label for="description">Description</label>
         <textarea class="form-control" id="description" placeholder="Description" rows="10" cols="30" name="description"></textarea>
      </div>
      <div class="clearfix"></div>




   </form> 

  </div>
</div>
    <!--<div class="row"> 
         <div class="col-lg-12">NEW RECIPE</div>
      <form id="recipeForm" method="POST" name="recipe" enctype="multipart/form-data">

     <div class="col-lg-6"> Image <br>
        <input type="file" id="file" name="file">
    </br>
    </div>

       <div class="col-lg-6"> 
             <label>RECIPE TITLE</label>
             <br>
             <input id="recipetitle" placeholder="Recipe Title" type="text" name="recipetitle">
             <br>
    </div>


       <div class="col-lg-6"> 
             <label>AUTHOR NAME</label>
             <br>
             <input id="authorname" placeholder="First Name" type="text" name="authorname">
             <br>
             <input id="authorname" placeholder="Last Name" type="text" name="authorname">
             <br>
    </div>

    <div class="col-lg-6"> 
             <label>CUISINE</label>
             <br>
             <input id="cuisine" placeholder="Cuisine" type="text" name="cuisine">
             <br>
    </div>

    <div class="col-lg-6">
             DESCRIPTION:<br>
                <textarea name="description" rows="10" cols="30"></textarea>

    <div class="col-lg-6">
             INGREDIENTS:<br>
                <textarea name="ingredients" rows="10" cols="30"></textarea>
    </div>

     <div class="col-lg-6">
             METHOD:<br>
                <textarea name="method" rows="10" cols="30"></textarea>
        </div>

</div>

 <span class="rating">
             <input type="radio" class="rating-input"
             id="rating-input-1-5" name="rating-input-1" value="5">
             <label for="rating-input-1-5" class="rating-star"></label>
             <input type="radio" class="rating-input"
             id="rating-input-1-4" name="rating-input-1" value="4">
             <label for="rating-input-1-4" class="rating-star"></label>
             <input type="radio" class="rating-input"
             id="rating-input-1-3" name="rating-input-1" value="3">
             <label for="rating-input-1-3" class="rating-star"></label>
             <input type="radio" class="rating-input"
             id="rating-input-1-2" name="rating-input-1" value="2">
             <label for="rating-input-1-2" class="rating-star"></label>
             <input type="radio" class="rating-input"
             id="rating-input-1-1" name="rating-input-1" value="1">
             <label for="rating-input-1-1" class="rating-star"></label>
          </span>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div> 

        </form> 

      </div>
    </div> -->


        

        <!---Footer -->
        
  <!--   <div class="sticky-footer">
            <div class="fit">
                <p> Email: tenilleswart@gmail.com
                </p>
            </div>
            <div class="fit">
                <p> Contact: 07947253223
                </p>
            </div>
            <div class="fit">
                <p class="copy-right-text"> &copy; CopyRight
                </p>
            </div>
        </div> -->
    


          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      </body>
  </html>




    
