<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>RECIPES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <header>
 <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-logo navbar_left" href="#"><img src="/static/images/logo-transparent2.png" class="image-responsive logo">
              </a>
        </div>
          <div class="nav navbar-nav navbar-right navbar_right">
                 <a href="{{ url_for('index') }}" class="btn btn-default">Home</a>
                 <a href="{{ url_for('allrecipes') }}" class="btn btn-default">All Recipes</a>
                 <a href="{{ url_for('addnew') }}" class="btn btn-default">Add New</a>
             </div> 
         </div> 
        </div>
    </nav>
</header>

<!--Main Content -->

{% for result in results %} {% if loop.index % 2 != 0 %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <div class="recipe-box">
           <div class="box-image">
               <a href="#"><img src="/static/images/{{ result.Recipe.recipe_photo }}" class="box-image" alt="salmon-poke">
               </a>
           </div>
           <div class="box-content">
               <h2><a href="/allrecipes/{{result.Recipe.recipe_id}}">{{result.Recipe.recipe_title}}</a></h2>
               <div class="box-meta">
                   By <a href="#">{{result.Author.first_name}}</a> <i class="glyphicon glyphicon-time"></i> <time>45 minutes</time>
               </div>
           </div>
        </div>
    </div>
   {% else %}
    <div class="col-sm-4">
 <div class="recipe-box">
           <div class="box-image">
               <a href="#"><img src="/static/images/{{ result.Recipe.recipe_photo }}" class="box-image" alt="salmon-poke">
               </a>
           </div>
           <div class="box-content">
               <h2><a href="/allrecipes/{{result.Recipe.recipe_id}}">{{result.Recipe.recipe_title}}</a></h2>
               <div class="box-meta">
                   By <a href="#">{{result.Author.first_name}}</a> <i class="glyphicon glyphicon-time"></i> <time>45 minutes</time>
               </div>
           </div>
        </div>
    </div>
   <!--  <div class="col-sm-4">
    <div class="recipe-box">
           <div class="box-image">
               <a href="#"><img src="/static/images/Eton-Mess.jpg" alt="ravioli">
               </a>
           </div>
           <div class="box-content">
               <h2><a href="#">Eton Mess</a></h2>
               <div class="box-meta">
                   By <a href="#">John Doe</a> <i class="glyphicon glyphicon-time">         </i> <time>45 minutes</time>
               </div>
           </div>
        </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-4" >
    <!-- <div class="recipe-box">
           <div class="box-image">
               <a href="#"><img src="/static/images/Summer-Cobb-Salad.jpg" alt="summer-cobb-salad">
               </a>
           </div>
           <div class="box-content">
               <h2><a href="#">Summer Cobb Salad</a></h2>
               <div class="box-meta">
                   By <a href="#">John Doe</a> <i class="glyphicon glyphicon-time">           </i> <time>45 minutes</time>
               </div>
           </div>
        </div> -->
    </div>
    <div class="col-sm-4">
   <!--  <div class="recipe-box">
           <div class="box-image">
               <a href="#"><img src="/static/images/Macroons.jpg" alt="macroons">
               </a>
           </div>
           <div class="box-content">
               <h2><a href="#">Macroons</a></h2>
               <div class="box-meta">
                   By <a href="#">John Doe</a> <i class="glyphicon glyphicon-time">         </i> <time>45 minutes</time>
               </div>
           </div>
        </div> -->
<!--     </div>
    <div class="col-sm-4">
    <div class="recipe-box">
           <div class="box-image">
               <a href="#"><img src="/static/images/oat-bowl.jpg" alt="oat-bowl">
               </a>
           </div>
           <div class="box-content">
               <h2><a href="#">Oat bowl</a></h2>
               <div class="box-meta">
                   By <a href="#">John Doe</a> <i class="glyphicon glyphicon-time">         </i> <time>45 minutes</time>
               </div>
           </div>
        </div>
    </div> -->
  </div>
</div>
 {% endif %} {% if loop.index == 5 %}
 {% endif %}
 {% endfor %}
 pagination
 {{ pagination.info }}
 {{ pagination.links }}
        <!---Pagination -->
        <div class="row">
            <div class="col-md-12">
               <nav class="text-center">
                <ul class="pagination pagination-lg">
                 <li>
                   <a href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                   </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                   <a href="#" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                   </a>
                 </li>
                </ul>
              </nav>
            </div>

          </div>

		<!---Footer -->
		
	 <footer>
        <div class="container">
          <div class="row">
          <footer class="fixed-bottom text-center footer-section">
            <div class="footer-wrapper">
               <div class="fit">
                <p> Email: tenilleswart@gmail.com
                </p>
              </div>
            <div class="fit">
                <p class="copy-right-text"> &copy; CopyRight
                </p>
            </div>
          </div>
        </div>
      </div>
    </footer>


          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      </body>
  </html>

        
</div>



    