<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>RECIPES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">


</head>

<body>
    <header>
     <nav class="navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-logo navbar_left" href="#">
                <div class="logo">
                   <img src="/static/images/logo-transparent2.png" id="logo">
                </div>
              </a>
        </div>
 <!--end navbar -->
    </header>

 
    <div class="container-fluid"></div>
    <div class="img-responsive col-md-12">
         <img src="/static/images/background.png" class="bg">
    </div>
    <div class="container">
        <div class="btn-wrapper">
            <button class="btn menu-button">RECIPES</button>
            <button class="btn menu-button"> <a href="{{ url_for('addnew') }}">ADD NEW RECIPE</a></button>
            <button class="btn menu-button"> <a href="{{ url_for('allrecipes') }}">ALL RECIPES</a></button>
            <button class="btn menu-button"><a href="{{ url_for('topchef') }}">TOP CHEF</a></button>
        </div>
    </div>

    
        <div class="fixed-footer">
            <div class="fit">
                <p> Email: tenilleswart@gmail.com
                </p>
            </div>
            <div class="fit">
                <p> Contact: 07947253223
                </p>
            </div>
            <div class="fit">
                <p class="copy-right-text"> &copy; CopyRight
                </p>
            </div>
        </div>
    



</body>

</html> 