<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>TOP RECIPES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

     <style>
      body, html {
       height: 100%;
        margin: 0;
        }
</style>
</head>

<body>
     <header>
 <nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-logo navbar_left" href="#"><img src="/static/images/logo-transparent2.png" class="other-pages-logo" id="logo">
              </a>
        </div>
          <div class="nav navbar-nav navbar-right navbar_right">
                 <a href="{{ url_for('index') }}" class="btn btn-default">Home</a>
                 <a href="{{ url_for('allrecipes') }}" class="btn btn-default">All Recipes</a>
                 <a href="{{ url_for('addnew') }}" class="btn btn-default">Add New</a>
             </div> 
         </div> 
        </div>
    </nav>
</header>

<!--Main Content -->

<div class="container-fluid"></div>
    <div class="img-responsive col-md-12">
         <img src="/static/images/background.png" class="bg transparent">
    </div>
<div class="container">
<h2>TOP RECIPES</h2>

<P>JGHGJHKHSJGHKSDGJDGHKDHGJDHGDJKGHDKJGH</P>
<br/>
<table>
  <tr>
    <th>Author</th>
    <th>Recipe Names</th>
    <th>Star Rating Average</th>
  </tr>
 {% for result in results %} 
  <trss>
    <td>{{result.Author.first_name}} {{result.Author.last_name}}</td>
    <td><a href="/allrecipes/{{result.Recipe.recipe_id}}">{{result.Recipe.recipe_title}}</a></td>
    <td><span class="stars-container stars-{{result.Recipe.recipe_rating}}">
             ★★★★★
          </span></td>
  </tr>
   {% endfor %}
</table>


  


        <!---Pagination -->
        <div class="row">
            <div class="col-md-12">
               <nav class="text-center">
                <ul class="pagination pagination-lg">
                 {{ pagination.links }}
                </ul>
              </nav>
            </div>

          </div>
       <!-- <div class="row">
            <div class="col-md-12">
               <nav class="text-center">
                <ul class="pagination pagination-lg">
                 <li>
                   <a href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                   </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                   <a href="#" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                   </a>
                 </li>
                </ul>
              </nav>
            </div>

          </div> -->


        <!---Footer -->
        
     <div class="sticky-footer">
            <div class="fit">
                <p> Email: tenilleswart@gmail.com
                </p>
            </div>
            <div class="fit">
                <p> Contact: 07947253223
                </p>
            </div>
            <div class="fit">
                <p class="copy-right-text"> &copy; CopyRight
                </p>
            </div>
        </div>
    </div>


          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      </body>
  </html>




    
